/* added fixed background so the divs move instead of the whole page */

/*
dimgray: #666A61
sandybrown: #F1AD70
light grey: #DCD8CC
linen: #F2EFEA
rosybrown: #ABA188
 #114B5F, #3D405B
 #f1f2da
*/
div {
  margin: 0px !important;
 padding: 0px;
}
body {
  background-color:black;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-image:hover .overlay{
  bottom: 0;
  height: 100%;
}

/* .row {
  border: solid 5px yellow;
} */
.home-container {
  min-width: 100vw;
  height: 100vh;
  background-image: url("../images/stephen-cook-1676535-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

#home-overlay {
  background-color: black;
  opacity: 0.0;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}
.title-page-text {
  color: whitesmoke;
  text-shadow: 0px 0px 10px black;
}

#name {
  font-size: 7vw;
  color: whitesmoke;
  text-shadow: 0px 0px 10px black;
  position: absolute;
  left: 3%;
  bottom: 5%;
}
#web-dev {
  font-size: 3vw;
  color: lightgray;
  text-shadow: 0px 0px 10px black;
  position: absolute;
  right: 10%;
  bottom: 7%;
}

#portfolio-screen {
  background: #DCD8CC;
  min-height: 900px;
}

#contact-screen {
  background: black;
}

.pronounce {
  /* display: inline-flex; */
  /* flex-direction: left; */
  /* margin-right: 2em;
    line-height: .2;*/
  font-size: 0.8em;
  font-style: italic;
  color: lightgrey;
}
.hidden {
  display: none;
}

#title-content {
  font-size: 4.5vw;
}

/* portfolio page */

#portfolio-title {
  display: block;
  margin-top: 40px;
  font-size: 4em;
}

#show-portfolio {
  font-size: 2.5em;
}



.icon-link,
.icon-link:focus {
  color: red;
  display: block;
  margin: 5em auto;
}

.icon-link:hover,
.icon-link:active {
  color: green;
}

.name {
  width: 30%;
  display: inline-block;
  margin-right: 6em;
}

#contact-form {
  border: 1px solid maroon;
  margin: 30vh auto;
  padding-top: 5em;
  padding-bottom: 3em;
  width: 70%;
}

#contact-form .form-control {
  margin-top: 2rem;
}
/* globally hide scroll bar */

::-webkit-scrollbar {
  display: none;
}

.carousel {
  /* width: 1280px; */
  height: 640px;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-item {
  overflow: hidden;
}




.project-image {
  background: red;
  height: 120%;
  width: 100%;
  max-height: 560px;
  min-height: 100%;
  min-width: 480px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  display: block;
}

.container {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

.square-photo {
  width: 100%;
  height: 120%;
  margin: 0 auto;
  padding: 0px;
  display: block;
}

/* .square-photo img {
  width: 570px;
  height: 480px;
} */

#lastName {
  display: inline-block;
}

@media (max-width: 700px) {
  #name {
    font-size: 15vw;
    bottom: 20%;
    left: 3%;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
  }
  #web-dev {
    left: 3%;
    bottom: 5%;
    font-size: 10vw;
    color: lightgray;
    text-shadow: 0px 0px 10px black;
  }
  
  .home-container {
    max-width: 100vw;
    background-attachment: scroll;
    
  }

  .project-image {
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
  }
}
