/* added fixed background so the divs move instead of the whole page */
body {
    
  background-color: black;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.home-container {
  min-width: 100vw;
  height: 100vh;
  background-image: url("../images/stephen-cook-1676535-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
}


.title-page-text {
  color: whitesmoke;
  text-shadow: 0px 0px 10px black;
}

#name {
  font-size: 7vw;
  color: whitesmoke;
  text-shadow: 0px 0px 10px black;
  position: absolute;
  left: 3%;
  bottom: 5%;
}
#web-dev {
  font-size: 3vw;
  color: lightgray;
  text-shadow: 0px 0px 10px black;
  position: absolute;
  right: 10%;
  bottom: 7%;

}


#portfolio-screen {
  background: grey;
  min-height: 900px;
}

#contact-screen {
  background: black;
}

.pronounce {
  /* display: inline-flex; */
  /* flex-direction: left; */
  /* margin-right: 2em;
    line-height: .2;*/
  font-size: 0.8em;
  font-style: italic;
  color: lightgrey;
}
.hidden {
  display: none;
}

#title-content {
  font-size: 4.5vw;
}

/* portfolio page */

#portfolio-title {
  display: block;
  margin-top: 40px;
  font-size: 4em;
}



#show-portfolio {
  font-size: 2.5em;
}

.icon-link,
.icon-link:focus {
  color: red;
  display: block;
  margin: 5em auto;
}

.icon-link:hover,
.icon-link:active {
  color: green;
}

.name {
  width: 30%;
  display: inline-block;
  margin-right: 6em;
}

#contact-form {
  border: 1px solid maroon;
  margin: 30vh auto;
  padding-top: 5em;
  padding-bottom: 3em;
  width: 70%;
}

#contact-form .form-control {
  margin-top: 2rem;
}
/* globally hide scroll bar */

::-webkit-scrollbar {
  display: none;
}



.carousel {
  /* width: 1280px; */
  height: 640px;
  margin: 0 auto;
  overflow: hidden;
}


.project-description {
  background: #f1f2da;
  height: 480px;
}

.project-image {
  background: red;
  height: 480px;
  width: 560px;
  overflow: hidden;
  padding: 0px;

}

.container {
  height: 100vh;
}

.square-photo {
  width: 570px;
  height: 480px;
  margin: 0 auto;
  padding: 0px;
  display: block;
}

.square-photo img {
  width: 570px;
  height: 480px;
}

#lastName {
  display: inline-block;
}






@media (max-width: 700px) {
  #name {
    font-size: 15vw;
    bottom: 20%;
    left: 3%;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
  }
  #web-dev {
    left: 3%;
    bottom: 5%;
    font-size: 10vw;
    color: lightgray;
    text-shadow: 0px 0px 10px black;
  }



}